li {
    align-items: center;
    align-content: center;
}

.todoItem {
    justify-content: space-around;
    display: flex;
    background-color: #ae9e52;
    margin-top: 1.2rem;
    width: 20%;
    border-radius: 1rem;
}

span {
    font-size: 1.2rem;
    font-family: cursive;
    cursor: pointer;
}

p {
    font-size: 1.2rem;
    font-family: cursive;
}

/* Estilos cuando la tarea está completada */
.todoItem-completed p {
    text-decoration: line-through;
    color: red;
}
